storage/logs/*
public/admin_profiles/
public/bottom_img/
public/feature_images/
public/home_cover_photo/
public/images/
public/lore_images/
public/news/
public/team_photos/
public/update_covers/
public/update_items_images/