@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

@font-face {
	font-family: 'singalore';
	src: url('fonts/singalore.otf');
	}
	@font-face {
		font-family: 'worksans';
		src: url('fonts/WorkSans-Bold.ttf');
		}
	

:root{
	--walk-primary-font-style:"cinzel";
	--walk-secondary-font-style:"worksans";
	--walk-primary-color:#265471;
	--walk-accent-color:#ffc107;
	--walk-night-eagle-theme:#043138;
	--walk-fiery-emerald-theme:#3D0608;
	--walk-pelicans-theme:#643310;

	--walk-separator-gold:#e6ba3b;
	--walk-separator-blue:#b6f4f8;

	--walk-gap:0;



	
}



.titlefont{
	font-family: "worksans";
}
	
.banner_grande{
	display: block;
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index:-1;
	padding-top: 50px;
	height: 100vh;
	width:100%;
	background-size: cover;
	background-position:center;
	animation-name: entrance_banner;
	animation-duration: 4s;
}
.banner_inside{
	display: block;
position: relative;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 100%;
width: 100%;
background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #16232F 100%);
}
.download_img{
	height: 50px;
}
.img_screenshots{
	width:100%;
	border-radius: 6px;
	border:  1px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 40px;
}
.more{
	display:none;
}
.hackathonbg{
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	background-repeat: no-repeat;
	filter:drop-shadow(0 0 20px black);
	display: block;
	margin-top: -3px !important;
	background-size: cover;
	background-color: black;
	background-position: center;
}

.universitybg{
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	background-repeat: no-repeat;
	box-shadow: 0px 0px 20px black;
	display: block;
	margin-top: -3px !important;
	background-size: cover;
	background-color: black;
	background-position: center;
}



.hack_uc {
	background-color:#182330;
   overflow:visible;
   display:flex;
   flex-direction: column;
}
.main_promo{
	position: relative;
width: 100%;
padding-bottom: 56.25%;
box-shadow: 0px 0px 50px rgba(0,0,0,0.5) !important;
overflow:hidden;
border-radius: 12px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
border: 1px solid gray;
}

.main_promo_inner{
	position: absolute;
bottom: 0;
width: 100%;
background: rgb(22,35,47);
background: linear-gradient(0deg, rgba(22,35,47,1) 0%, rgba(255,255,255,0) 100%);
 overflow: hidden;
}

.readable{
	font-family: Arimo !important;
}
.supertext{
	font-family: singalore !important;
}
.footer{
	bottom: 0;
	left: 0; 
	right: 0;
	display: block;
	background-color:#16232F;
	padding-top: 20px;
	bottom: 20px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	overflow: hidden;
}
pre {
overflow-x: auto;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}
.floaties{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: -50vh;
	margin-top: 50vh;
	opacity: 0.1;
	/*z-index: -1;*/
	animation-name: roationeffect;
	animation-duration: 360s;
	animation-iteration-count: infinite;
}


.home_logo_holder {
	width:580px;
	height:580px;
	margin:auto;
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin-top:-60px;
	display:flex;
	align-items:center;
}
.walktext{
	animation-name: entrance_text;
	animation-duration: 2s;
	margin:auto;
	width:580px;
	max-width:900px;
}

@keyframes entrance_text{
	0%{
		transform: scale(1.5);
		opacity: 0;
	}
	50%{
		transform: scale(1.5);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}


@keyframes roationeffect{
	0%{
		transform: rotateZ(0deg);
	}
	100%{
		transform: rotateZ(360deg);
	}
}

@keyframes entrance_banner{
	0%{
		transform: scale(1.5);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}
.navbar{
background-color: rgba(0, 0, 0, 0.5) !important;
backdrop-filter: blur(20px);
border-bottom: 1px solid rgba(255,255,255,0.05) !important;
box-shadow: 1px 0px 50px rgba(0, 0, 0,0.4);
width: 100%;
left: 0;
right: 0;
top: 0;
display: inline-flex;
position: fixed;
z-index: 1000;
}
.card-success{
background: #2A362A;
/*background: linear-gradient(180deg, rgba(67,121,156,1) 0%, rgba(32,77,107,1) 100%);*/
border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
border-radius: 0px;
box-shadow: inset 0 0 30px #515E45,1px 0px 50px rgba(0, 0, 0,0.4);
}
.card-primary{
background: #043138;
/*background: linear-gradient(180deg, rgba(67,121,156,1) 0%, rgba(32,77,107,1) 100%);*/
border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
border-radius: 0px;
box-shadow: inset 0 0 30px #084857,1px 0px 50px rgba(0, 0, 0,0.4);
}
.card-warning{
background: #643310;
/*background: linear-gradient(180deg, rgba(67,121,156,1) 0%, rgba(32,77,107,1) 100%);*/
border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
border-radius: 0px;
box-shadow: inset 0 0 30px #A76822,1px 0px 50px rgba(0, 0, 0,0.4);
}
.card-danger{
background: #3D0608;
/*background: linear-gradient(180deg, rgba(67,121,156,1) 0%, rgba(32,77,107,1) 100%);*/
border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
border-radius: 0px;
box-shadow: inset 0 0 30px #631312,1px 0px 50px rgba(0, 0, 0,0.4);
}
.card-simple{
background-color: rgba(255, 255, 255, 0.05) !important;
border:  1px solid rgba(255, 255, 255, 0.1) !important;
border-radius: 0px;
}
.modal-content{
	background: #265471;
/*background: linear-gradient(180deg, rgba(67,121,156,1) 0%, rgba(32,77,107,1) 100%);*/
border-top: 2px solid rgba(255, 255, 255, 0.5) !important;
border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;
box-shadow: 1px 0px 50px rgba(0, 0, 0,0.4);
border-radius: 0px;
}

.dropdown-menu{
		background: #265471 !important;
border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
box-shadow: 1px 0px 50px rgba(0, 0, 0,0.4);
border-radius: 0px;
}

.dropdown-menu .dropdown-item{
	color: white;
}
.dropdown-menu .dropdown-item:hover{
	background-color: rgba(0, 0, 0, 0.3) !important;
}
.btn{
	border:  1px solid rgba(255, 255, 255, 0.3) !important;
	border-radius: 0px !important;
	box-shadow: inset 0 0 3px rgba(255,255,255,0.6), 0 0 5px rgba(0, 0, 0, 0.3),0 0 30px rgba(0, 0, 0, 0.4) !important;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-shadow: 0px 0px 10px black !important;
	color: white !important;
}
.btn:hover{
	border:  1px solid rgba(255, 255, 255, 0.7) !important;
	box-shadow: inset 0 0 5px rgba(255,255,255,1), 0 0 5px rgba(0, 0, 0, 0.3),0 0 30px rgba(0, 0, 0, 0.4) !important;

}
.btn-primary{
background: rgb(29,158,180);
background: linear-gradient(0deg, rgba(29,158,180,1) 0%, rgba(71,228,255,1) 100%);
}
.btn-warning{
background: rgb(185,119,38);
background: linear-gradient(0deg, rgba(185,119,38,1) 0%, rgba(255,178,83,1) 100%);
}
.btn-danger{
	background: rgb(164,29,30);
background: linear-gradient(0deg, rgba(164,29,30,1) 0%, rgba(255,74,75,1) 100%);
}
.container{
/*	 background-color: rgba(64, 73, 79, 0.8) !important;*/
}
.navbar .nav-link{
	color: #5FBCD0 !important;
	margin-right: 10px;
}
.navbar .navbar-brand{
	color: white !important;
	/*text-shadow: 0p 0px 30px #B6F4F8 !important;*/
}
.littext{
	color: white;
	text-shadow: 0px 0px 10px #6CEFF3;
}
.shadowtext{
	color: white;
	text-shadow: 0px 0px 10px black;
}
.nav-pills  .active{
	background: #265471 !important;
/*background: linear-gradient(180deg, rgba(67,121,156,1) 0%, rgba(32,77,107,1) 100%);*/
/*box-shadow: ;*/
border-radius: 0px;

box-shadow: inset 0 0 10px rgba(182,244,248,0.5), 1px 0px 30px rgba(182,244,248,0.2);
}
.nav-pills  a{
color: white;
}
body{
	background: rgb(92,135,145);
	background: linear-gradient(160deg, rgba(92,135,145,1) 0%, rgba(44,82,91,1) 19%, rgba(23,35,47,1) 45%, rgba(0,0,0,1) 100%);
background-position: center;
background-attachment: fixed;
	font-family: cinzel;
	color: white;
	overflow-x: hidden;
}
.container_cover{
	margin-top: 56vh !important; 
	background: rgb(22,35,47);
	background: linear-gradient(180deg, rgba(22,35,47,0) 0%, rgba(22,35,47,1) 9%);
	margin:0px;
}
.separator-blue-center{
	width: 100%;
	display: block;
height: 3px;
	background: rgb(182,244,248);
background: linear-gradient(90deg, rgba(182,244,248,0) 20%, rgba(182,244,248,1) 49%, rgba(182,244,248,0) 80%);
}
.separator-gold-left{
	background: rgb(230,186,59);
background: linear-gradient(90deg, rgba(230,186,59,1) 0%, rgba(230,186,59,0) 100%);
width: 100%;
display: block;
height: 3px;
}

.separator-gold-center{
	width: 100%;
	display: block;
	height: 3px;
	background:  #e6ba3b;
	background: linear-gradient(90deg, rgba(182,244,248,0) 20%, rgb(230,186,59) 49%, rgba(182,244,248,0) 80%);
}
.separator-gold-left-thin{
	background: rgb(230,186,59);
background: linear-gradient(90deg, rgba(230,186,59,1) 0%, rgba(230,186,59,0) 100%);
width: 100%;
display: block;
height: 1px;
}
.separator-blue-left-thin{
	background: rgb(230,186,59);
background: linear-gradient(90deg, #b6f4f8 0%, rgba(230,186,59,0) 100%);
width: 100%;
display: block;
height: 1px;
}

@media only screen and (max-width: 800px) {
	.char_holder{
		transform: rotatex(0deg) rotatey(0deg) rotatez(0deg) !important;
	}
	.charpreview{
		position: fixed;
		margin:0;
		margin:auto;
		left:0;
		right: 0;
		width:100%;
		bottom: 0;
	}
	.main_promo{
		position: relative;
	width: 100%;
	padding-bottom: auto;
	height: 50vh;
	box-shadow: 0px 0px 50px rgba(0,0,0,0.5) !important;
	overflow:auto;
	border-radius: 12px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid gray;
	}
	.walktext{
	
		margin-top: 0px;
		width:80%;

	
	
	}


}
.char_holder{
	width: 100%;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.05) !important;
	border:  1px solid rgba(255, 255, 255, 0.1) !important;
	overflow: hidden;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
	transition: all 0.3s;
	border-radius: 6px;
	position: relative;
	text-align: center;
	overflow: hidden;

}

.char_holder:hover{
	transform: rotatey(0deg) !important;
	transform: scale(1.1) !important;
	box-shadow: 0px 2px 50px rgba(230,186,59,1);
	border:  1px solid  rgba(230,186,59,1) !important;
	z-index: 1000 !important;
}

.charcard_icon{
bottom: 0;
left: 0;
right: 0;
position: absolute;
margin: auto;
margin-bottom: 100px;
transform-style: preserve-3d;
}

.bg_separator{
	display: block;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #16232F 100%);
}
.charcard_title{
	display: block;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	margin-bottom: 20px;
	width: 100%;
}
.chapter-link {
	text-decoration: none;
}



.universitybg{
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	background-repeat: no-repeat;
	padding:0;
	box-shadow: 0px 0px 20px black;
	display: block;
	margin-top: -3px !important;
	background-size: cover;
	background-color: black;
	background-position: center;
}


.university-clash-wrapper{
	display:flex;
	flex-direction: row;
	justify-content: center;
	padding:0;
	margin-inline:auto;
	height:100%;
	width:100%;
	min-width:250px;
	max-width: 2000px;
}



.uc-image {
	flex:1;
	overflow:hidden;
	display:flex;
	justify-content: flex-end;
	isolation: isolate;
}

.uc-image > img {
	width: 100%;
	height:auto;
	object-fit: cover;
	opacity:.7;
	z-index:-1;
}

.uc-image-overlay{
	position:absolute;
	inset:0;
	z-index:0;
	display:flex;
	align-items: center;
	justify-content: center;
	font-size:clamp(5rem, 2vw, 10rem);
	text-align: center;
}

.uc-details {
	flex:1;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position:relative;
	isolation: isolate;
	background: black;

}

#university-name-handler{
	display:flex;
	flex-direction: column;
	flex:1;
	padding:2rem;
	padding-inline-end: 0;
	height:100%;
	width:100%;
}

#university-name-handler > .title{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#university-name-handler > .uclogo-holder{
	flex:1;
	display:flex;
	justify-content: center;
	align-items: center;
	isolation:isolate;

}
#university-name-handler > .uclogo-holder{
	flex:1;
	display:flex;
	justify-content: center;
	align-items: center;

}



#university-name-handler > .uclogo-holder > #icon-ucwin{
	object-fit: cover;
	height:100%;
	max-height:250px;
	width:auto;
	object-position: center center;
	z-index:0;
}

.backdrop-vid{
	position: absolute;
	max-width: 1000px;
	object-fit: cover;
	mix-blend-mode: screen;
	z-index:-3;
}

.ucwinner_stage{
	position:absolute;
	bottom:10px;
	margin-inline: auto;
	width: 100%;
	max-width: 1000px;
	min-width:500px;
		z-index:-1;

}

.clip-path-wrapper {
	--theme-color:'';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
	filter: drop-shadow(-2px 0px 5px var(--theme-color) );
	z-index:-3
  }

  .clip-path-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-image: linear-gradient(to top,
         var(--theme-color) -80%,
        rgb(0, 0, 0) 60%);
    clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 10% 100%, 3% 75%);
    opacity: 1;
    z-index: -2;

	
  }

  .clip-path-1 > video {
    background-color: aquamarine;
    mix-blend-mode: screen;
  }

  .clip-path-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    clip-path: polygon(14% 0%, 15% 0%, 4% 90%, 7% 100%, 6% 100%, 3% 90%);
    background-color: rgba(255, 255, 0, 0.404);
    filter: drop-shadow(-2px 0px 10px rgb(255, 0, 0)) !important;
    overflow: visible !important;
    z-index: 0;
  }


.uc_change-view {
	position: absolute;	
	right:0;
	height:100%;
	display:flex;
	flex-direction: column;
	gap:1rem;
	padding:2rem;
}

.uc_change-view > span {
	font-size:clamp(1rem, 1vw, 2rem);
	font-family: cinzel	;
	text-transform:capitalize;
	cursor: pointer;
	padding-inline:1.5rem;
	padding-block:1rem;
	background-image:linear-gradient(to right, rgb(0, 0, 0) 0%, transparent 100%);
	z-index:9999;
}

.uc_change-view > span.active {
	text-decoration:underline;
}



.left-right-vignette {
    position: relative;
    isolation: isolate;
  
  }
  
  .left-right-vignette::before,
  .left-right-vignette::after {
    content: '';
    position: absolute;
    top: 0;
    width: 150px;
    /* Adjust width as needed */
    height: 100%;
    pointer-events: none;
    z-index: 1
  }
  
  
  
  
  .left-right-vignette::after {
    right: 0;
    background: linear-gradient(to left, #000000 15%, transparent);
  }


  
.rotate {
    animation: floating 2s ease-in-out forwards infinite, rotateY 6s ease-in-out both infinite;
}



@keyframes rotateY {
    from {
        transform: rotateY(0deg);
    }
    50% {
        transform:rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

@keyframes floating {
    from {
        transform:translateY(0px)
    }
    50%{
        transform:translateY(-10px)

    }

    to{
        transform:translateY(0px)

    }
}


.tagisbg {
	height:100vh;
   max-height:800px;
   min-height:400px;
   margin-block:100px;
   display:flex;
   flex-direction:column;
   justify-content:center;
   position:relative;
   
}

/* tagis */
.tagis-text-wrapper{
	flex:0;
	height:fit-content;
	display:flex;
	gap:0px;
	flex-direction:column;
	margin-inline:auto;
	justify-content: center;
	align-items: center;
}

.tagis-banner-wrapper{
	position:relative;
	margin-inline:auto;
	isolation:isolate;
	min-width: 0;
}

.tagis-banner-wrapper > .tagis-banner-image {
	object-fit: cover;
	height:auto;
	width:100%;
	max-width: max-content;
}
.emblem-wrapper{
	position:absolute;
	inset:0;
	display:flex;
	justify-content: space-around;
	padding-inline:5rem;
	align-items: center;
	width:100%;
	height:100%;
}

.tagis-redirect{
	display:flex;
	justify-content: center;
}

.emblem-holder{
	isolation:isolate;
	position:relative;
}

.emblem-holder > img{
	z-index:0;
	min-width: 0;
	object-fit: cover;
	height:auto;
	width:100%;
	filter:drop-shadow(0px 0px 5px black) drop-shadow(5px 5px 0px black)
}


.emblem-name{
	width:100%;
	font-size:clamp(.75rem, 2vw, 1rem);
	color:#f28607;
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-shadow: 1px 1px 2px black;
	text-transform: uppercase;
	margin-block:.5rem;
}

.emblem-overlay{
	z-index:1;
	position:absolute;
	inset:0;
	display:flex;
	justify-content: center;
	align-items: center;
	font-weight: bolder;

}

.emblem-overlay p{
	background: linear-gradient(to bottom, #8bccfa 40%, #b8b8b8); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	font-size: clamp(0.8rem, 1vw, 1.10rem);
	filter:
	drop-shadow(1px -1px 1px rgb(37, 37, 37))
	drop-shadow(1px 1px 1px rgb(37, 37, 37))
	drop-shadow(0 0 10px rgb(255, 255, 255))
}

.tagis-next-end-season {
	position:absolute;
	right:0;
	top: -3rem;
	background: linear-gradient(to right, #14384e 40%, transparent); 
	border:1px solid #5FBCD0;
	border-left:10px solid #5FBCD0;
	  border-image-source: linear-gradient(to right, #5d00ff, #5FBCD0, transparent);
	border-right: none;
	border-image-slice: 1;
	height:3rem;
	width: 400px;
	min-width:0;
	display:flex;
	justify-content:center;
	align-items: center;
	padding-inline: 2rem;
	z-index:10;
}
.tagis-next-end-season span{
	position:absolute;
	font-size:clamp(.7rem, 2vw, 1.2rem);
	will-change:scale;
	animation: pulse 1s ease-in-out both infinite;
}





.left-right-bg-blend {
  position: relative;
  isolation: isolate;

}

.tagis-title{
	font-size:clamp(1rem, 2vw, 1.5rem);
}

.tagis-tag{
	font-size:clamp(1.5rem, 2vw, 2rem);
	font-style: italic;
}




#event_overlay{
	position:fixed;
	inset:0;
	height:100vh;
	width:100vw;
	pointer-events: none;
}
.event_overlay_wrapper{
	position:relative;
	height:inherit;
	width: inherit;
	isolation: isolate;
}

.event_overlay_wrapper_bottom_left {
	position: absolute;
	bottom: 0;
	left: 0;
	width:300px;
	height:300px;
}

.event_overlay_wrapper_upper_left {
	position: absolute;
	top: 0;
	left: 0;
	width:600px;
	height:300px;
}

.event_overlay_wrapper_upper_right {
	position: absolute;
	top: 0;
	right: 0;
	width:600px;
	height:300px;
}



.event_overlay_wrapper_upper_left img, video{
	object-fit: cover;
	filter:drop-shadow(0 0 5px rgb(255, 255, 255));
	width:100%;
}

.event_overlay_wrapper_bottom_left img, video{
	object-fit: cover;
	height:100%;
	filter:drop-shadow(0 0 5px rgb(135, 10, 139))
}

.event_overlay_wrapper_upper_right img{
	object-fit: cover;
	width:100%;
	height:auto;
	filter:drop-shadow(0 0 2px rgb(255, 255, 255));
}

@media only screen and (max-width: 800px) {
	#event_overlay{
		display:none;
	}

}
.left-right-bg-blend::before,
.left-right-bg-blend::after {
  content: '';
  position: absolute;
  top: 0;
  width: 150px;
  /* Adjust width as needed */
  height: 100%;
  pointer-events: none;
  z-index: 0
}


.left-right-bg-blend::before {
  left: 0;
  background: linear-gradient(to right, #16232f 10%, transparent 100%);
}

.left-right-bg-blend::after {
  right: 0;
  background: linear-gradient(to left, #16232f 10%, transparent 100%);
}

@media (max-width: 768px) {
  .left-right-bg-blend::before {
    opacity: 0;
  }


  .left-right-bg-blend::after {
    opacity: 0;
  }


}

@keyframes pulse {

	from, to {
		scale:1;
		filter: drop-shadow(0 0 10px #00ddff);
	}
	50% {
		scale:1.03;
		filter: drop-shadow(0 0 2px #00ddff);
	}
	
}